body {
  background:#a9c5d9;

}

h3 {
  font-family:cursive;
  color: #ffe600;
  font-weight:100;
}


h1{
  color:#d12c2c;
  font-weight:700;
  font-family:cursive;
}

p{
  font-weight:300;
  font-family:cursive;
}
